body{
background-color:red;

}

.Fondo{

text-align: left;

}
h3{
text-align: left;
text-overflow: clip;
color: white;

}



img{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
    float: right;
    border-top-left-radius: 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 20px;
}
.Foto{
text-align: left;

}

.Freal{

  text-align: center;
}

a{
  color: yellow;
}

.Rs{
color: white;
text-align: justify;
font: italic 20px san-serif;

}
p{

  font-size: 20px;
}

h1{

font-size:40px;
color:  white;
text-align: center;

}
h2{
color: white;
text-align: right;

}
ul{

  color:  white;
  font-size: 20px;

}
