body{
background-color:brown;

}

.Fondo{

text-align: center;

}
img{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
    float: right;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

a{

  color: yellow;
}
.Sin{

color: white;
text-align: justify;
font: italic 20px san-serif;

}

h1{

font-size:40px;
color: white;
text-align: center;
}
.Opinion{
color: white;
text-align: justify;
font: italic 20px san-serif;
}
h2{
color: red;

}
